*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  font-size: 1.5em;
  font-weight: 100;
  background: #F3F3F3;
}

.calendar {
  width: 70vw;
  height: 98vh;
  background: #fff;
  margin: auto;
  border-radius: 2rem;
}

.home{
  display: flex;
  height: 100vh;
}

.month{
  font-weight: bold;
  color: #616593;
}

.header {
  display: flex;
  padding: .5em 1em;
  justify-content: space-between;
  align-items: center;
  min-width: 13%;
  max-width: 30%;
}

li{
  list-style: none;
}

.dates{
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  width: 98%;
  margin: auto;
}

.day {
  width: 14.286%;
  min-height: 8.6rem;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  background: #fff;
  border-radius: .5rem;
  border: 1px solid #f3f3f3;
  position: relative;
  &:nth-child(7n-1){
    span{
      color: #05329f;
      opacity: .3;
    }
  }
  &:nth-child(7n){
    span{
      color: #05329f;
      opacity: .3;
    }
  }
  span{
    position: absolute;
    top: .3rem;
    right: .3rem;
    font-weight: bold;
    color: #343434;
  }
}

.last-month-day{
  background: #eeeeee;
}

.dow{
  width: 14.286%;
  text-align: center;
  padding: 1em;
  color: #383838;
  font-weight: bold;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  padding-right: 0;
}

.today {
  color: #616593 !important;
  font-weight: bold;
  border: 2px solid #b9b9b9;
  span{
    color: #09ad4d !important;
  }
}

.day-name {
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, .5);
  letter-spacing: .7px;
}

.day-number {
  font-size: 24px;
  letter-spacing: 1.5px;
}

.arrow-switch{
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 100%;
  padding: .3rem;
  transition: .3s;
  path{
    transition: .3s;
  }
  &:hover{
    background: #616593;
    path{
      fill: #fff
    }
  }
  &-right{
    transform: rotate(180deg);
    margin-right: 0;
    margin-left: 1rem;
  }
}
.past-day{
  background: #eeeeee;
  span{
    opacity: .5;
  }
}
.events{
  width: 92%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2.2rem;
  left: .5rem;
}
.events-container{
  &-item{
    font-size: 1rem;
    text-align: left;
    border-radius: .2rem;
    padding: .2rem;
    margin-bottom: .2rem;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 10;
    position: unset;
    transition: .3s;
    &:hover{
      position: relative;
      max-width: min-content;
      width: min-content;
    }
    &.low{
      background: #E4F1EB;
      color: #96D8AD;
    }
    &.medium{
      background: #F9E7D3;
      color: #DEB58A;
    }
    &.high{
      background: #F8EAEA;
      color: #D48D91;
    }
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
